@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Josefin Slab', serif; */
    font-family: 'Baloo Da 2', cursive;
   background: url(images/bg.jpg) center no-repeat;
    background-size: cover;
    

} 


body{
	background-color: #f6f5f5;
	margin: 0px;
	padding:0px;
}
ul{
	list-style: none;

}
a{
	text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
section{
	width: 100%; 
	background-repeat: no-repeat;
	background-size: cover;
    position: sticky;
    background-color: #FFFFFF;
    opacity: 0.8;
    top: 0;
    z-index: 1;


}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	/* background-color: #FFFFFF; */
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px;
    /* opacity: 0.2; */
    /* position: sticky;
    top: 0; */


}

nav ul{
	display: flex;

}
nav ul li a{
	margin: 30px;
	color: #355e3b;
	font-size: 22px;
	font-weight: 700;
}

nav ul li a:hover{
	color: black;
}

.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 27px;
    padding: 10px;
    margin-left: 10px;

}



/* Card Part (Main Part of body)--------------->  */

.container {
    width: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.3)), url(images/bg.jpg) center no-repeat;
    background-size: cover; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    width: 260px;
    height: 380px;
    position: relative;
    perspective: 1000px;
    margin: 20px 50px;
}

.sides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.7)), url(images/card-bg.jpg) no-repeat;
    background-size: cover;
    background-position-x: 0;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: transform 2s;
}

.right-side {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.7)), url(images/card-bg.jpg) no-repeat;
    background-size: cover;
    background-position-x: -130px;
    width: 50%;
    height: 100%;
    transform: rotateY(0deg);
    transform-origin: right;
    transition: transform 2s;
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.7)), url(images/project.jpg) center no-repeat;
    background-size: cover;
    z-index: -1;
    transform: translateZ(-300px);
    box-shadow: 40px 40px 80px #000;
    transition: z-index 0.9s step-end, transform 2s, bos-shadow 2s;
}


.card:hover .left-side {
    transform: rotateY(-360deg);
}

.card:hover .right-side {
    transform: rotateY(360deg);
}

.card:hover .back-side{
    transform: translateZ(0);
    z-index: 1;
    box-shadow: 50px 50px 100px #000;
}


.name {
    color: #fff;
    font-size: 1.5rem;
    /* margin: 20px 5px; */
}

.profession {
    color: #eee;
    font-size: 1.2rem;
    /* margin: 20px 5px; */
}

.left-side .name{
    text-align: right;
}
.left-side .profession{
    text-align: right;
}
/* .right-side .name {
    text-align: center;
} */

.biography {
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.biography a{

    color: black;
    padding: 5px 20px;
    background-color: white;
    border-radius: 29px;
    text-decoration: none;

    
}

.biography a:hover{
    background-color: #355e3b;
    color: white;
    box-shadow: 0 0 10px #fff,
                0 0 10px #fff;

    transition: box-shadow 0.5s;
}




/* footer ----->  */



.copyright{
	color: #565555;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translateX(-50%);
}
footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
}

footer p{
    font-family: calibri;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 30px;
    padding: 10px;

}

.social-icons a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;


}
.social-icons{
    display: flex;
}
.copyright{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}
.social-icons i{
    color: #000000;
    font-size: 22px;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;

}
.social-icons a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}